/*
 * This is the CSS stylesheet for the UserProfile.html page
 */

.Profile {
    max-width: 210px;
    margin: auto;
    font-size: 15px;
}
.ProfilePhoto {
    text-align: center;
}
.CustomerName{
    text-align: center;
}

/* Following two tags combined to make the background image scalable*/
body, html {
  height: 100%;
}

.bg {
  /* The image used 
  background-image: url("../assets/background-image.jpg");*/

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* -------------------------------------- */
}
img {
border-radius: 50%;
max-width: 300px;
margin: auto;
padding:4px;
border:1px solid rgb(9, 104, 148);
background-color:rgb(9, 104, 148);
text-align: center;
}

.fa {
padding: 10px;
font-size: 20px;
width: 210px;
height: 25px;
text-align: left;
line-height: 20px;
text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #2867B2;
  color: white;
}
.fa-instagram {
  background: #65349e;
  color: #e95950;
}

  