<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartProfile</title>
    <script src="{{url_for('static', filename='js/scProfile.js')}}"></script>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .fa {
          padding: 20px;
          font-size: 30px;
          width: 50px;
          text-align: center;
          text-decoration: none;
          margin: 5px 2px;
        }
        
        .fa:hover {
            opacity: 0.7;
        }
        
        .fa-facebook {
          background: #3B5998;
          color: white;
        }
        </style>
</head>

<body>
    <div class="Profile">    
        <table id="ProfileTable">
            
            <caption>{{customerName}}</caption>
            
            <thead>
                <tr>
                    <th>Facebook</th>
                    <td>
                        <a href={{fb_addr}} class="fa fa-facebook"></a>
                    </td>                
                </tr>
                <tr>
                    <th>LinkedIn</th>
                    <td>
                        <form action= {{linkdin_addr}}
                        id="linkedIn">
                            <input type="submit" value="LinkedIn" />
                        </form>    
                    </td>
                </tr>
                <tr>
                    <th>Instagram</th>
                    <td>
                        <form action= {{ig_addr}}
                        id="instagram">
                            <input type="submit" value="Instagram" />
                        </form>    
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
    <div class="error">
    </div>
    </div>
</body>
</html>
